body {
    background-color: #2a2f41;
    display: flex;
    flex-direction: column;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    align-items: center;
    color: #ffffff;
    padding: 0px;
    margin: 0px;
}
#math, #section {
    position: relative;
    background-color: #1d2641;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 50vw;
    min-width: 336px;
    padding: 10px 10px;
    align-items: center;
    font-size: 12px;
    color: #ababab;
}
.math{
    position: relative;
    letter-spacing: 6px;
    color: #808080;
    font-size: 30px;
}
#myProgress {
    width: 25vw;
    border-radius: 5px;
    background-color: grey;
}
  
#myBar {
    border-radius: 5px;
    width: 1%;
    height: 20px;
    background-color: #ababab;
}

input[type="submit"] {
    display: row;
    margin: 10px;
    background-color: #ababab;
    border: none;
    color: white;
    padding: 4px 24px;
    text-align: center;
    text-decoration: none;
    width: 12vw;
    font-size: 14px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 3px;
} 
input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 15px;
    text-align: left;
}
caption {
    color: red;
    font-size: 30px;
    
}